body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 204, 170, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:262px;
  width:300px;
  height:48px;
  display:flex;
  color:#FFFFFF;
}
#u1780 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1780_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 162, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1780.mouseDown {
  opacity:0.8;
}
#u1780_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1782_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1782_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:133px;
  width:300px;
  height:48px;
  display:flex;
}
#u1782 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
}
#u1782_img.focused {
}
#u1782.focused {
}
#u1782_img.disabled {
}
#u1782.disabled {
}
#u1783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1783_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1783_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:181px;
  width:300px;
  height:48px;
  display:flex;
}
#u1783 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
}
#u1783_img.focused {
}
#u1783.focused {
}
#u1783_img.disabled {
}
#u1783.disabled {
}
#u1784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399DD;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:193px;
  width:80px;
  height:24px;
  display:flex;
  color:#3399DD;
}
#u1784 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1784_text {
  border-width:0px;
  white-space:nowrap;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:583px;
  width:48px;
  height:18px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u1786 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1786_text {
  border-width:0px;
  white-space:nowrap;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:541px;
  width:48px;
  height:40px;
  display:flex;
}
#u1787 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1787_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
