.ax_default {
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._文本段落 {
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.box_31 {
  font-family:'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
.ellipse {
}
.shape {
}
.image {
}
.placeholder {
}
._形状 {
}
.horizontal_line {
}
._标题_1 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Noto Sans CJK SC';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.text_link1 {
  color:#0000FF;
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._横线 {
}
.connector {
}
.box_11 {
}
.line {
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.shape1 {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.refs-webm-wechat {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.icon {
}
.flow_shape {
  color:#FFFFFF;
}
.paragraph {
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.form_disabled1 {
}
