body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 204, 170, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:383px;
  width:300px;
  height:48px;
  display:flex;
  color:#FFFFFF;
}
#u1767 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1767_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 162, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1767.mouseDown {
  opacity:0.8;
}
#u1767_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:201px;
  width:80px;
  height:27px;
  display:flex;
  font-size:18px;
}
#u1768 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1768_text {
  border-width:0px;
  white-space:nowrap;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1770_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1770_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:254px;
  width:300px;
  height:48px;
  display:flex;
}
#u1770 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
}
#u1770_img.focused {
}
#u1770.focused {
}
#u1770_img.disabled {
}
#u1770.disabled {
}
#u1771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1771_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1771_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  padding:3px 2px 3px 0px;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:302px;
  width:300px;
  height:48px;
  display:flex;
}
#u1771 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
}
#u1771_img.focused {
}
#u1771.focused {
}
#u1771_img.disabled {
}
#u1771.disabled {
}
#u1772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399DD;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:314px;
  width:80px;
  height:24px;
  display:flex;
  color:#3399DD;
}
#u1772 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1772_text {
  border-width:0px;
  white-space:nowrap;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:583px;
  width:48px;
  height:18px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u1774 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1774_text {
  border-width:0px;
  white-space:nowrap;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:541px;
  width:48px;
  height:40px;
  display:flex;
}
#u1775 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1775_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCAA;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:65px;
  width:120px;
  height:29px;
  display:flex;
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCAA;
}
#u1777 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1777_text {
  border-width:0px;
  white-space:nowrap;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:2px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:98px;
  width:136px;
  height:1px;
  display:flex;
  color:#00CCAA;
}
#u1778 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1778_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#00CCAA;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:102px;
  width:112px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#00CCAA;
}
#u1779 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1779_text {
  border-width:0px;
  white-space:nowrap;
}
